
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('https://giphy.com/embed/l378b9LcC3cclsY2A');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
}

.header {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.body {
  color: white;

}
