html {
  scroll-behavior: smooth;
}

html,

body {
  height: 100%;
  margin: 0;
  background: url('https://media.giphy.com/media/FupCCQnyHOCSUEueed/giphy.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.headergif img {
  
  border-radius: 15px;
  width: 450px;
  height: auto;

}

.header {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

#navigator {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
    }

a{
  color: purple;
}

.box {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 110%;
  max-width: 900px;
  color: #333;

}

.c++Image {
    transition: transform 0.3s ease;
}

.c++Image:hover {
    transform: scale(1.2);
}
